node_modules
.DS_Store
.tmp
tmp
.idea
.vscode
.prettierrc

npm-debug.log*
yarn.lock
.vscode/launch.json
modelo-datos.json

cdb-class-json-property-advanced.php

!dist/node_modules
dist/

n8n-nodes-centum-*.tgz

workspace.xml
